
body {
    padding: 10px;
}

.inner{
    width:1800px;
    margin: 0 auto;
}



/*------------------------------------------*/

header {
    position: relative;
    background-color: rgb(246, 246, 255);
    height: 60px;

}

.main_logo {
    position: absolute;

    left: 5px;
    top: 13px;

    width: 170px;
    height: 30px;
    background-image: url(images/main_logo.jpg);
    background-size: cover;
    background-position: center;

}

.search {
    position: absolute;
    display: flex;

    width: 177px;
    height: 26px;


    right: 10px;
    bottom: 10px;
}

.search input {
    width: 150px;
    height: 20px;
    border: 0px;
    outline: 0px;

    padding: 3px;

}

.search_img {
    width: 27px;
    height: 26px;
    background-image: url(images/search.jpg);
    background-size: cover;
    background-position: center;
    background-color: white;
}

/*------------------------------------------*/

nav {
    background-color: rgb(230, 232, 255);
    height: 40px;
    padding: 5px;
}

.nav_group {
    display: flex;
    font-size: 11px;
    margin: 5px 0px 30px 20px;

}

nav a {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

nav a:nth-child(2) {
    margin: 0px 10px;
    
}


/*------------------------------------------*/


footer{
    background-color: rgb(230, 232, 255);
    height: 50px;
    font-size: 11px;
    padding: 10px
}
.footer_group{
    display: flex;
}
.f_logoimg{
    
    width: 170px;
    height: 30px;
    background-image: url(images/main_logo.jpg);
    background-size: cover;
    background-position: center;

}
.f_logo{
    
    width: 33%;

    
}
.f_address{
    width: 33%;
}
.f_info{
    
    width: 33%;
}
/*------------------------------------------*/
