main{
    margin-top: 25px;
    padding: 10px;
    
}
main table{
    margin-bottom: 25px;
}
.main_div{
    
    border-bottom: 0.5px solid rgb(99, 99, 99);
}
main table th{
    width: 100px;    
    background-color: rgb(230, 210, 210);
    text-align: right;
    font-size: 13px;
    height: 30px;
    padding-right: 5px;
}
main table .text{
    height: 25px;
    width: 150px;
    border: 0.5px solid rgb(230, 210, 210);
}
main table input{
    border: 0px;
    height: 22px;
    outline: 0px;
    margin-left: 5px;
    width: 140px;
}
#id_check {
    margin-left: 5px;
    border: 0.5px solid black;
    border-radius: 4px;
    
}
#email_check{
    border: 0.5px solid black;
    border-radius: 4px;
}
#password_rule{
    font-size: 10px;
    padding: 3px;
    display: block;
}
main table td{
    padding: 5px;
    display: flex;
    
}




.email_text{
    height: 25px;
    width: 110px;
    border: 0.5px solid rgb(230, 210, 210);
    
}
.email__{
    margin-left: 5px;
    margin-right: 5px;
}

#email input{
    border: 0px;
    height: 22px;
    outline: 0px;
    margin-left: 5px;
    width: 100px;
}
#email_group{
    
    margin-left: 5px;
    margin-right: 5px;

}


#school_group1{
    width: 65px;
    margin-right: 5px;
    
}
#school_group2{
    width: 65px;
    margin-left: 5px;
    margin-right: 5px;
    
}